* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #222;
    --secendary-color: #fff;
}

.light-mode {
    --primary-color: #fff;
    --secendary-color: #222;
}

body {
    background-color: var(--primary-color);
    color: var(--secendary-color);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-height: 100vh;
}

.cruds {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.cruds header {
    text-align: center;
    margin: 20px 0;
}

.cruds header p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    border: #222 solid 2px;
}
input:focus {
    background-color: #999;
}
.price input {
    width: calc(50% - 5px);
}

.price {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 5px;
}

.total {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    margin: 20px 0;
}

.result {
    color: black;
    overflow-x: scroll;
    height: 30px;
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;
    background-color: white;
    border: #222 solid 2px;
    width: 100px;
}

#count {
    margin-bottom: 5px;
}

#category {
    margin-bottom: 10px;
}

.switch i {
    font-size: 25px;
    position: absolute;
    right: 5%;
    padding: 10px;
    top: 5%;
    cursor: pointer;
    transition: 0.3s;
}
.switch i:hover {
    color: rgb(30, 30, 206);
}

button {
    border: none;
    width: 100%;
    background-color: rgb(30, 30, 206);
    font-weight: bold;
    color: white;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 20px;
}
button:hover {
    background-color: rgb(20, 20, 180);
    color: black;
}

.line {
    width: 100%;
    left: 0;
    height: 5px;
    position: absolute;
    background-color: var(--secendary-color);
}

#search {
    margin-top: 25px;
    transition: width 1s;
    width: 90%;
}
#search:focus {
    width: 100%;
}

#category-search,
#title-search {
    width: calc(50% - 3px);
    margin: 10px 0;
}

.search-btn {
    display: flex;
    justify-content: center;
}

.content {
    overflow-x: auto;
}

table {
    min-width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th,
td {
    padding: 5px;
}

thead tr th {
    border-bottom: 1px solid var(--secendary-color);
    border-right: 1px solid var(--secendary-color);
}

thead tr th:nth-child(10) {
    border-top: none;
    border-right: none;
}
thead tr th:nth-child(9) {
    border-top: none;
    border-right: none;
}

tbody td {
    border-bottom: 1px solid var(--secendary-color);
    border-right: 1px solid var(--secendary-color);
}

tbody tr td:nth-child(10) {
    border-right: none;
}

#update {
    margin-top: 20px;
}
#delete {
    margin-top: 20px;
}